<div class="container-fluid justify-content-center">

    <img src="/assets/img/burger-bg.jpg" / id="bg-img">

    <div id="bg-overlay"></div>

    <div class="logo-div d-flex align-items-center justify-content-center">
        <img src="/assets/img/EDB.png" id="burger-logo" />
    </div>

    <div id="burger-content">

        <div class="row mt-5">

            <div class="col-md-12 mt-5" id="available-div">
                <h3 class="mt-2">Burgers Available:</h3>
                <hr>

                <div class="panel panel-default">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/burger-block devour=true}}
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-md-12 mt-3" id="consumed-div">
                <h3 class="mt-2">Burgers Consumed:</h3>
                <hr>
                <div class="panel panel-default">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burgers/burger-block devour=false}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12 mt-3" id="add-div">
                <h3 class="mt-2">Add a burger to the list:</h3>
                <hr>
                <form class="createBurger">
                    <div class="form-group">
                        <label for="createB" id="form-title-burg"><strong>Name of burger:</strong></label>
                        <input type="text" id="createB" name="name">
                        <input type="hidden" name="eaten" value="0">
                    </div>

                    <button type="button" class="btn btn-sm addBtn mt-2 mb-3">Add your burger!</button>
                </form>
            </div>
        </div>

    </div>
</div>